<footer class="site-footer">
  <p>
    &copy; {{ now.Format "2006" }} Micromusic Italy | <a href="/credits">Credits</a> 
  </p>

    <label for="theme-picker" style="font-family:inherit;font-size:1em;margin-right:0.5em;">Tema:</label>
    <select id="theme-picker" class="theme-picker">
      <option value="">Predefinito</option>
      <option value="light-theme">Chiaro</option>
      <option value="high-contrast">Alta leggibilità</option>
      <option value="dark-theme">Scuro</option>
    </select>

  <p>
</footer>
